<div id="wrapper" class="animate">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">General Over view</h5>
            <h6 class="card-subtitle mb-2 text-muted">IEEE DAY 2018</h6>
            <p class="card-text">IEEE Day honors the roles IEEE members play in their local communities, and their work toward the vision of advancing technology for the benefit of humanity.</p>
            <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
            <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a><br><br>
            <button type="button" class="btn btn-danger">Create An issue</button><br>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">DATE & Venue</h5>
            <h6 class="card-subtitle mb-2 text-muted">Time, Date , Venue</h6>
            <p class="card-text">Time : 10:00SL<br>DATE: 1st October 2018 <br>Venue: NAT UOC</p>
            <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
            <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Budjet</h5>
            <h6 class="card-subtitle mb-2 text-muted">estimate of income and expenditure for a set period of time</h6>
            <p class="card-text">Estimated: Rs 400 000<br>Current spends: 100 000</p>
            <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
            <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Them</h5>
            <h6 class="card-subtitle mb-2 text-muted">Them and Other Details</h6>
            <p class="card-text">Them:<br>Color:<br>etc:</p>
            <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
            <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">volunteers</h5>
            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">year</th>
                <th scope="col">generic</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Ravindu De Silva</td>
                <td>2nd year</td>
                <td>CS</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Pasan Jayawikrama</td>
                <td>2 nd year</td>
                <td>CS</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Pasindu Siriwardana</td>
                <td>2nd year</td>
                <td>CS</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Resources</h5>
            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Resource Name</th>
                <th scope="col">permission</th>
                <th scope="col">responsibility</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Advance digital media unit UCSC</td>
                <td>approved</td>
                <td>Ravindu De Silva</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Sound -System-UCSC</td>
                <td>approved</td>
                <td>Pasan Jayawikrama</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Music-UCSC</td>
                <td>approved</td>
                <td>Pasindu Siriwardana</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
