<div class="card-columns">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
        content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card border-info mb-3" [routerLink]="['/temp']" style="max-width: 20rem; cursor: pointer;" *ngFor="let eventCard of eventCards | async">
    <img class="card-img-top" src={{eventCard.img.toString()}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ eventCard.title }}</h5>
      <p class="card-text">{{ eventCard.title_1 }}</p>
      <p class="card-text"><small class="text-muted">{{ eventCard.title_2 }}</small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
        content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>