<br>
<br>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="login-form">
  <form [formGroup] = "login_form_one" (ngSubmit)="printData()">
    <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
    <h4 class="modal-title">Login to Your Account</h4>
    <div class="form-group">
      <input type="text" class="form-control" formControl="username" placeholder="Username" required="required" >
    </div>
    <div class="form-group">
      <input type="password" class="form-control" formControl="password" placeholder="Password" required="required" >
    </div>
    <div class="form-group small clearfix">
      <label class="checkbox-inline"><input type="checkbox"> Remember me</label>
      <a href="#" class="forgot-link">Forgot Password?</a>
    </div>
    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">
  </form>
  <div class="text-center small">Don't have an account? <a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModal">Sign
      up</a></div>
</div>

<!-- signup section -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lets create an Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
          <button type="button" routerLink="/reg2" 
          data-dismiss="modal" class="btn mr-3" 
          style="background-color: #5972BA; color: #FFFFFF">Register as Lecturer</button>

          <button type="button" routerLink="/reg" 
          data-dismiss="modal" class="btn" 
          style="background-color: #5972BA; color: #FFFFFF">Register as a Society</button>
          
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
