<br>
<br>
<div class="login-form">
  <form>
    <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
    <h4 class="modal-title">Login to Your Account</h4>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="email" placeholder="Username" required="required" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password" required="required" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group small clearfix">
      <label class="checkbox-inline"><input type="checkbox"> Remember me</label>
      <a href="#" class="forgot-link">Forgot Password?</a>
    </div>
    <input type="submit" (click)="pushData(email, password)" class="btn btn-primary btn-block btn-lg" value="Login">
  </form>
  <div class="text-center small">Don't have an account? <a style="cursor:pointer;" data-toggle="modal" data-target="#exampleModal">Sign
      up</a></div>
</div>

<!-- signup section -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lets create an Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <a class="btn mr-3" routerLink="/reg2" role="button" style="background-color: #5972BA; color: #FFFFFF"
          data-dismiss="modal">Register as Lecturer</a>

        <a class="btn" routerLink="/reg" role="button" style="background-color: #5972BA; color: #FFFFFF" data-dismiss="modal">Register
          as a Society</a>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>