<br>
<br>
<div class="container">
  <div class="alert alert-info">
    <a href="#" class="btn btn-xs btn-primary pull-right">do an action</a>
    <strong>Info:</strong> you should do an action.
  </div>

  <div class="alert alert-warning">
    <a href="#" class="btn btn-xs btn-warning pull-right">do an action</a>
    <strong>Warning:</strong> you should do an action.
  </div>

  <div class="alert alert-danger">
    <a href="#" class="btn btn-xs btn-danger pull-right">don't do an action</a>
    <strong>Danger:</strong> you shouldn't do an action!
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
